@font-face {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2"), url("fonts/pt-sans-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-regular.woff2") format("woff2"), url("fonts/pt-sans-regular.woff") format("woff");
  font-display: swap;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #FFFFFF;
}

.page-header {
  color: #242424;
  background: #FFFFFF;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 25,88px;
  font-weight: 700;
  text-align: center;
  color: #242424;
  background-color: #FFFFFF;
  text-decoration: none;
}

.navigation-link-buttom {
  color: #242424;
  background: #FFFFFF;
}

.main-index {
  color: #242424;
  background: #FFFFFF;
}

.main-index-fon {
  color: #242424;
  background: #FFFFFF;
  background-image: url("img/sedona-index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-item-1 {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item-1a {
  color: #242424;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-1b {
  color: #242424;
  background-color: #FFFFFF;
}

.advantages-item-1c {
  color: #242424;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-2 {
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item-3 {
  color: #242424;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-4 {
  color: #242424;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-5 {
  color: #242424;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.advantages-number {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.search-hotels {
  color: #242424;
  background-color: #FFFFFF;
}

.subscribe {
  color: #FFFFFF;
  background-image: url("img/subscribe-pic.jpg");
}

.page-footer {
  color: #242424;
  background-color: #FFFFFF;
}

/*каталог*/
.main-inner {

}

.inner-section {
  color: #290707;
  background-image: url("img/catalog-main-background.jpg");
}

.sorting-container {
  color: #242424;
  background-color: #FFFFFF;
}

.sorting-type-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  color: #333333;
}

.catalog-hotels {

}